.toggle_buttons button {
  border: 1px solid gray;
}

.toggle_buttons button.active {
  background-color: orangered;
  color: white;
  border: none;
}

.card {
  height: 400px;
  margin-bottom: 25px;
  img {
    height: 150px;
    object-fit: cover;
    cursor: pointer;
  }
}

.card-body {
  .card-title {
    color: orangered;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
  }

  .card-text.company {
    font-size: 14px;
  }
  .card-text.company:hover {
    cursor: pointer;
    color: green;
  }

  .price {
    font-size: 14px;
    font-weight: bold;
  }
  .price_unit {
    font-size: 12px;
    font-weight: 500;
  }
  .quantity {
    font-size: 12px;
    font-weight: 400;
  }
  .quantity_unit {
    font-size: 12px;
    font-weight: 400;
  }
}

.origin_country {
  border: 1px solid rgb(162, 162, 157);
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 12px;
  margin-right: 5px;
  pointer-events: none;
  text-wrap: nowrap;
  img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }
}
.organic_type {
  border: 1px solid rgb(206, 210, 7);
  background-color: rgb(255, 255, 239);
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 12px;
  pointer-events: none;
  text-wrap: nowrap;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.offer-label {
  position: absolute;
  color: white;
  padding: 4px;
  width: 80px;
  top: 118px;
  right: 0px;
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
}
