.search-body {
  background-image: url("../../../assets/SearchBackGroundImage-CcYB4OCw.png");
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h2 {
    color: white;
    font-size: 35px;
  }
}

.search-bar {
  input {
    width: 650px;
    height: 45px;
    margin-top: 15px;
  }

  button {
    height: 45px;
    background-color: rgba(223, 125, 47, 1);
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    right: 433px;
    top: 135px;
  }
}
