<app-header></app-header>
<app-search-bar (searchChanged)="onSearchChanged($event)"></app-search-bar>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cauliflower</li>
    </ol>
</nav>

@if (productDetails) {
@for (productdetail of productDetails; track productdetail.id) {
<main class="d-flex">
    <div class="mainProductImage">
        <img [src]="productdetail.thumbnail_image" alt="">
        <div class="subProductImage">
            <img [src]="productdetail.thumbnail_image" alt="">
            <img [src]="productdetail.thumbnail_image" alt="">
            <img [src]="productdetail.thumbnail_image" alt="">
            <img [src]="productdetail.thumbnail_image" alt="">
        </div>
    </div>

    <div class="productInfo">
        <h4>{{productdetail.product_variety_name}}
            <span class="btn origin_country"><img src="../../../assets/location.svg" alt="" />
                {{productdetail.origin}}</span>
            <span class="btn organic_type">
                {{productdetail.organic ? "Organic" : "Conventional"}}</span>
            <span class="btn class_type">
                {{productdetail.product_class}}</span>
        </h4>
        <h5 (click)="navigateToCompany(productdetail.company_id)">{{productdetail.company_name}}</h5>
        <p class="price"><strong>${{productdetail.price}}</strong>/{{productdetail.price_per_unit}}</p>
        <p><app-rating></app-rating></p>
        <div class="quantity mb-3"><strong>Quantity</strong> <button (click)="decreaseQuantity()"><i
                    class="fa-solid fa-minus"></i></button>
            <span>{{count}}</span> <button (click)="increaseQuantity()"><i class="fa-solid fa-plus"></i></button> in kg
        </div>
        <div class="month d-flex gap-2 mb-3">
            <div>Jan</div>
            <div>Feb</div>
            <div>Mar</div>
            <div>Apr</div>
            <div>May</div>
            <div>Jun</div>
            <div>Jul</div>
            <div>Aug</div>
            <div>Sep</div>
            <div>Oct</div>
            <div>Nov</div>
            <div>Dec</div>
        </div>
        <div class="mb-3" style="font-size: 12px; color: gray;">
            1K+ Buyers Bought in Last Month
        </div>
        <div class="quote-btn">
            @if (productdetail.listing_type == 'offer') {
            <button (click)="openQuoteModal(productdetail.id)">Get a quote</button>
            }@else{
            <button (click)="openOfferModal()">Offer</button>
            }
        </div>
        <div class="d-flex gap-3 mb-3">
            <div class="d-flex gap-2 border p-3">
                <img src="../../../assets/pacakge.svg" alt="">
                <div>
                    <div class="fw-bold" style="font-size: 10px; text-wrap: nowrap;">Box
                        Weight:{{productdetail.box_weight}}</div>
                    <div class="fw-bold" style="font-size: 10px; text-wrap: nowrap;">Box Type:{{productdetail.box_type}}
                    </div>
                </div>
            </div>
            <div class="d-flex gap-2 border p-3">
                <img src="../../../assets/vehicle.svg" alt="">
                <div>
                    <div class="fw-bold" style="font-size: 10px; text-wrap: nowrap;">Port
                        Loading:{{productdetail.loading_port}}</div>
                    <div class="fw-bold" style="font-size: 10px; text-wrap: nowrap;">Est.Loading
                        Time:{{productdetail.est_loading_time}}</div>
                </div>
            </div>
        </div>
        <div><span class="fw-bold">Extra Information</span>
            <p class="mt-2" style="font-size: 14px;">{{productdetail.information}}</p>
        </div>

    </div>
</main>
}
}

<div>
    <div class="simProd-heading">Similar Products you might like</div>

    <div class="simProducts row row-cols-1 row-cols-md-2 row-cols-lg-5">
        @if (productList) { @for (product of productList; track product.id) {
        <div class="col">
            <section class="card-container">
                <div class="card">
                    <div>
                        <img [src]="product.thumbnail_image" class="card-img-top" alt="..." (click)="
                        navigateToProductDetails(product.listing_type, product.id)
                      " />
                        <div class="offer-label"
                            [ngStyle]="{'background-color': product.listing_type === 'offer' ? 'orangered' : 'green'}">
                            {{product.listing_type === 'offer' ? 'Offer' : 'Demand'}}</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title" (click)="
                          navigateToProductDetails(product.listing_type, product.id)
                        ">
                            {{ product.product_type_name }}
                            {{ product.product_variety_name }}
                        </h6>
                        <p class="card-text company fw-bold" (click)="navigateToCompany(product.company_id)">
                            {{ product.company_name }}
                        </p>
                        @if (product.price && product.price_per_unit) {
                        <p class="card-text">
                            <span class="price">${{ product.price }}</span> / <span class="price_unit">{{
                                product.price_per_unit
                                }}</span>
                        </p>
                        } @if (product.quantity && product.quantity_unit) {
                        <p class="card-text">
                            <span class="mx-1 quantity">{{ product.quantity }}</span><span class="quantity_unit">{{
                                product.quantity_unit }}</span>
                        </p>
                        }
                        <div>
                            @if (product.origin) {
                            <span class="btn origin_country"><img src="../../../assets/location.svg" alt="" />{{
                                product.origin
                                }}</span>
                            }
                            <span class="btn organic_type">{{
                                product.organic ? "Organic" : "Conventional"
                                }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        } }
    </div>
</div>